:root {
    --gray-light: #EBE9EB;
    --gray-dark: #817F80;
}

body {
    background-color: #212733;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lightsaberList {
    display: flex;
    justify-content: center;
}

.lightsaber {
    position: relative;
    background-color: var(--gray-light);
    width: 20px;
    height: 50px;
    margin: 0 20px;
}

.lightsaber::before {
    content: "";
    position: absolute;
    background-color: var(--gray-dark);
    border-radius: 7px;
    width: 20px;
    height: 20px;
    top: -7px;
    z-index: -1;
}

.lightsaber::after {
    content: "";
    position: absolute;
    background-color: var(--gray-dark);
    border-radius: 7px;
    width: 20px;
    height: 20px;
    bottom: -7px;
    z-index: -1;
}

.lightsaber .lightsaber__light {
    width: 12px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.3s;
}

.lightsaber .yoda {
    background: rgb(135, 220, 90);
    background: linear-gradient(
    to right, 
    rgb(135, 220, 90) 0%, 
    rgb(254, 254, 254) 30%, 
    rgb(254, 254, 254) 50%, 
    rgb(254, 254, 254) 70%, 
    rgb(135, 220, 90) 100%
  );
}

.lightsaber .luke {
    background: #344DF9;
    background: linear-gradient(
    to right, 
    #344DF9 0%, 
    rgba(254, 254, 254, 1) 30%, 
    rgba(254, 254, 254, 1) 47%, 
    rgba(254, 254, 254, 1) 71%, 
    #344DF9 100%
  );
}

.lightsaber .vader {
    background: rgb(229, 17, 21);
    background: linear-gradient(
    to right, 
    rgba(229, 17, 21, 1) 0%, 
    rgba(254, 254, 254, 1) 30%, 
    rgba(254, 254, 254, 1) 47%, 
    rgba(254, 254, 254, 1) 71%, 
    rgba(229, 17, 21, 1) 100%
  );
}

.lightsaber .lightsaver__label {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.lightsaber .lightsaber__input {
    display: none;
}

.lightsaber .lightsaber__input:checked + .lightsaber__light{
    top: -250px;
    height: 250px;
}

.lightsaber .lightsaber__input:not(:checked) + .lightsaber__light {
    top: 0;
    height: 0;
}